---
title: "Bokeh plotting in python"
date: 2018-12-27
---

<div id="outline-container-org86a42ae" class="outline-2">
<h2 id="org86a42ae">Introduction</h2>
<div class="outline-text-2" id="text-org86a42ae">
<p>
There is something intriguing and beautiful about complexity arising from simplicity. A set of simple rules followed in a deterministic fashion can follow widely different trajectories and generate widely different patterns given small changes in initial conditions.
</p>

<p>
This document serves mainly as an exercise in visualization, however I felt I needed something interesting to visualize as well. Here i will use python3.6 and <a href="https://bokeh.pydata.org/en/latest/">bokeh</a> to visualize the <a href="https://en.wikipedia.org/wiki/Logistic_map">logistic map</a>.
</p>

<p>
The logistic map is defined by a very simple looking iterative rule
\[x_{n+1}=r \cdot x_{n}(1+x_{n})\]
</p>

<p>
The logistic map has a single parameter \(r\) and needs an initial setting \(x_{0} \in (0,1)\). It maps the state \(x_{n} \rightarrow x_{n+1}\) for each iteration. The parameter \(r\) is interesting in the interval \([0,4]\).
</p>
</div>
</div>

<div id="outline-container-org3b9a48f" class="outline-2">
<h2 id="org3b9a48f">Setting up the environment</h2>
<div class="outline-text-2" id="text-org3b9a48f">
<p>
I start by seting up a python environment and import relevant packages. All packages needed are imported here (except for a few used only for testing alternatives below).
</p>
<div class="org-src-container">
<pre class="src src-ipython" id="org1f62e23"><span style="color: #F0DFAF; font-weight: bold;">import</span> sys
<span style="color: #F0DFAF; font-weight: bold;">import</span> os
<span style="color: #F0DFAF; font-weight: bold;">import</span> pandas <span style="color: #F0DFAF; font-weight: bold;">as</span> pd
<span style="color: #F0DFAF; font-weight: bold;">import</span> numpy <span style="color: #F0DFAF; font-weight: bold;">as</span> np
<span style="color: #F0DFAF; font-weight: bold;">import</span> scipy.stats <span style="color: #F0DFAF; font-weight: bold;">as</span> stats
pd.set_option(<span style="color: #CC9393;">'precision'</span>,3)
np.set_printoptions(precision=3, linewidth=1000)
<span style="color: #F0DFAF; font-weight: bold;">import</span> bokeh.plotting <span style="color: #F0DFAF; font-weight: bold;">as</span> bkp
<span style="color: #F0DFAF; font-weight: bold;">from</span> bokeh.transform <span style="color: #F0DFAF; font-weight: bold;">import</span> linear_cmap
<span style="color: #F0DFAF; font-weight: bold;">import</span> bokeh.palettes <span style="color: #F0DFAF; font-weight: bold;">as</span> pal
</pre>
</div>
</div>
</div>

<div id="outline-container-org44febe9" class="outline-2">
<h2 id="org44febe9">Building the logisticmap</h2>
<div class="outline-text-2" id="text-org44febe9">
<p>
I opt for making a simple class to keep track of the state of the logistic map as well as its parameters.
</p>
<div class="org-src-container">
<pre class="src src-ipython" id="orgdd693c2"><span style="color: #F0DFAF; font-weight: bold;">class</span> <span style="color: #7CB8BB;">LogisticMap</span>():
<span style="color: #DCDCCC; background-color: #4F4F4F;"> </span>   <span style="color: #DFAF8F;">__upper</span>=4
<span style="color: #DCDCCC; background-color: #4F4F4F;"> </span>   <span style="color: #DFAF8F;">__lower</span>=2.4

<span style="color: #DCDCCC; background-color: #4F4F4F;"> </span>   <span style="color: #F0DFAF; font-weight: bold;">def</span> <span style="color: #93E0E3;">__init__</span>(<span style="color: #F0DFAF; font-weight: bold;">self</span>, r=3.4, x0=0.5, n=1000):
<span style="color: #DCDCCC; background-color: #4F4F4F;"> </span>   <span style="color: #DCDCCC; background-color: #4F4F4F;"> </span>   <span style="color: #F0DFAF; font-weight: bold;">self</span>.r = r%LogisticMap.__upper
<span style="color: #DCDCCC; background-color: #4F4F4F;"> </span>   <span style="color: #DCDCCC; background-color: #4F4F4F;"> </span>   <span style="color: #F0DFAF; font-weight: bold;">self</span>.x0 = x0%1
<span style="color: #DCDCCC; background-color: #4F4F4F;"> </span>   <span style="color: #DCDCCC; background-color: #4F4F4F;"> </span>   <span style="color: #F0DFAF; font-weight: bold;">self</span>.x = <span style="color: #F0DFAF; font-weight: bold;">self</span>.x0
<span style="color: #DCDCCC; background-color: #4F4F4F;"> </span>   <span style="color: #DCDCCC; background-color: #4F4F4F;"> </span>   <span style="color: #F0DFAF; font-weight: bold;">self</span>.n = n

<span style="color: #DCDCCC; background-color: #4F4F4F;"> </span>   <span style="color: #F0DFAF; font-weight: bold;">def</span> <span style="color: #93E0E3;">_itermap</span>(<span style="color: #F0DFAF; font-weight: bold;">self</span>):
<span style="color: #DCDCCC; background-color: #4F4F4F;"> </span>   <span style="color: #DCDCCC; background-color: #4F4F4F;"> </span>   <span style="color: #DFAF8F;">x</span> = <span style="color: #F0DFAF; font-weight: bold;">self</span>.x
<span style="color: #DCDCCC; background-color: #4F4F4F;"> </span>   <span style="color: #DCDCCC; background-color: #4F4F4F;"> </span>   <span style="color: #F0DFAF; font-weight: bold;">return</span> <span style="color: #F0DFAF; font-weight: bold;">self</span>.r*x*(1-x)

<span style="color: #DCDCCC; background-color: #4F4F4F;"> </span>   <span style="color: #F0DFAF; font-weight: bold;">def</span> <span style="color: #93E0E3;">generate</span>(<span style="color: #F0DFAF; font-weight: bold;">self</span>):
<span style="color: #DCDCCC; background-color: #4F4F4F;"> </span>   <span style="color: #DCDCCC; background-color: #4F4F4F;"> </span>   <span style="color: #F0DFAF; font-weight: bold;">yield</span> <span style="color: #F0DFAF; font-weight: bold;">self</span>.x
<span style="color: #DCDCCC; background-color: #4F4F4F;"> </span>   <span style="color: #DCDCCC; background-color: #4F4F4F;"> </span>   <span style="color: #F0DFAF; font-weight: bold;">for</span> i <span style="color: #F0DFAF; font-weight: bold;">in</span> <span style="color: #DCDCCC; font-weight: bold;">range</span>(<span style="color: #F0DFAF; font-weight: bold;">self</span>.n):
<span style="color: #DCDCCC; background-color: #4F4F4F;"> </span>   <span style="color: #DCDCCC; background-color: #4F4F4F;"> </span>   <span style="color: #DCDCCC; background-color: #4F4F4F;"> </span>   <span style="color: #F0DFAF; font-weight: bold;">self</span>.x = <span style="color: #F0DFAF; font-weight: bold;">self</span>._itermap()
<span style="color: #DCDCCC; background-color: #4F4F4F;"> </span>   <span style="color: #DCDCCC; background-color: #4F4F4F;"> </span>   <span style="color: #DCDCCC; background-color: #4F4F4F;"> </span>   <span style="color: #F0DFAF; font-weight: bold;">yield</span> <span style="color: #F0DFAF; font-weight: bold;">self</span>.x

<span style="color: #F0DFAF; font-weight: bold;">def</span> <span style="color: #93E0E3;">wrap_iframe</span>(fname, width=<span style="color: #CC9393;">"100%"</span>, height=<span style="color: #CC9393;">"400px"</span>):

<span style="color: #DCDCCC; background-color: #4F4F4F;"> </span>   <span style="color: #DFAF8F;">s</span>=f<span style="color: #CC9393;">'&lt;iframe src="{fname}" style="width:{width};height:{height};border:none;"&gt;&lt;/iframe&gt;'</span>
<span style="color: #DCDCCC; background-color: #4F4F4F;"> </span>   <span style="color: #F0DFAF; font-weight: bold;">return</span> s
</pre>
</div>
</div>
</div>

<div id="outline-container-orgc8e1e90" class="outline-2">
<h2 id="orgc8e1e90">Visualize the logistic map for a single set of initial values</h2>
<div class="outline-text-2" id="text-orgc8e1e90">
<p>
First we need to setup the plot and initiate our map.
</p>
<div class="org-src-container">
<pre class="src src-ipython" id="org0b708c2"><span style="color: #5F7F5F;"># </span><span style="color: #7F9F7F;">import figure, output_file, show</span>
<span style="color: #DFAF8F;">logm</span> = LogisticMap(x0=0.11, r=3.2, n=1000)

<span style="color: #DFAF8F;">htmlfname</span> = f<span style="color: #CC9393;">"html/logisticmap_single_setting.html"</span>
bkp.output_file(htmlfname)
<span style="color: #DFAF8F;">fig</span> = bkp.figure(plot_width=600,
<span style="color: #DCDCCC; background-color: #4F4F4F;"> </span>   <span style="color: #DCDCCC; background-color: #4F4F4F;"> </span>   <span style="color: #DCDCCC; background-color: #4F4F4F;"> </span>   <span style="color: #DCDCCC; background-color: #4F4F4F;"> </span>   <span style="color: #DCDCCC; background-color: #4F4F4F;"> </span>plot_height=300,
<span style="color: #DCDCCC; background-color: #4F4F4F;"> </span>   <span style="color: #DCDCCC; background-color: #4F4F4F;"> </span>   <span style="color: #DCDCCC; background-color: #4F4F4F;"> </span>   <span style="color: #DCDCCC; background-color: #4F4F4F;"> </span>   <span style="color: #DCDCCC; background-color: #4F4F4F;"> </span>y_range=[0,1],
<span style="color: #DCDCCC; background-color: #4F4F4F;"> </span>   <span style="color: #DCDCCC; background-color: #4F4F4F;"> </span>   <span style="color: #DCDCCC; background-color: #4F4F4F;"> </span>   <span style="color: #DCDCCC; background-color: #4F4F4F;"> </span>   <span style="color: #DCDCCC; background-color: #4F4F4F;"> </span>x_range=[-0.5, <span style="color: #DCDCCC; font-weight: bold;">min</span>([logm.n, 60])],
<span style="color: #DCDCCC; background-color: #4F4F4F;"> </span>   <span style="color: #DCDCCC; background-color: #4F4F4F;"> </span>   <span style="color: #DCDCCC; background-color: #4F4F4F;"> </span>   <span style="color: #DCDCCC; background-color: #4F4F4F;"> </span>   <span style="color: #DCDCCC; background-color: #4F4F4F;"> </span>tools=<span style="color: #CC9393;">"wheel_zoom,reset,pan,save"</span>)
</pre>
</div>

<p>
and then we generate some data and plot it using bokeh. When this code is executed a html file will be generated with the file name <code>htmlfname</code>. This file can be opened in any decent browser to view the result. Here I wrote a simple function to generate an iframe that can be embedded in this exported html file.
</p>
<div class="org-src-container">
<pre class="src src-ipython" id="org66b1d79"><span style="color: #DFAF8F;">y</span> = [i <span style="color: #F0DFAF; font-weight: bold;">for</span> i <span style="color: #F0DFAF; font-weight: bold;">in</span> logm.generate()]
<span style="color: #DFAF8F;">x</span> = <span style="color: #DCDCCC; font-weight: bold;">range</span>(<span style="color: #DCDCCC; font-weight: bold;">len</span>(y))
fig.line(x, y, line_width=2)
fig.circle(x, y, fill_color=<span style="color: #CC9393;">"white"</span>, size=8)
<span style="color: #DFAF8F;">fig.toolbar.active_drag</span> = <span style="color: #BFEBBF;">None</span>
<span style="color: #DFAF8F;">fig.toolbar.autohide</span> = <span style="color: #BFEBBF;">True</span>
<span style="color: #DFAF8F;">fig.grid.minor_grid_line_dash</span> = [2, 2]
<span style="color: #DFAF8F;">fig.grid.minor_grid_line_color</span> = <span style="color: #CC9393;">'navy'</span>
<span style="color: #DFAF8F;">fig.grid.minor_grid_line_alpha</span> = 0.1
<span style="color: #DFAF8F;">fig.axis.minor_tick_in</span> = 3
<span style="color: #DFAF8F;">fig.axis.minor_tick_out</span> = 0
bkp.save(fig)
<span style="color: #F0DFAF; font-weight: bold;">print</span>(wrap_iframe(htmlfname, height=<span style="color: #CC9393;">'320px'</span>))
</pre>
</div>

<iframe src="/html/logisticmap_single_setting.html" style="width:100%;height:320px;border:none;"></iframe>

<p>
The result is a figure with some applied cosmetic configurations. The iframe width and height are estimated based on the figure size i choose in this instance.
Of course we could embed the figure in the page but I choose this solution for convenience.
Lets see if we can make the figure more interesting.
</p>
</div>
</div>

<div id="outline-container-orgad8d4ea" class="outline-2">
<h2 id="orgad8d4ea">Visualize the logistic map bifurcation diagram</h2>
<div class="outline-text-2" id="text-orgad8d4ea">
<p>
Visualizing the bifurcation diagram requires us to generate a lot more data to cover the interesting parameter ranges. I also clip out the first half of the generated values before the map is stabilizing, as well as using only one initial value \(x_{0} = 0.5\), however we could very easily iterate over a fiew initial \(x_{0}\) values as well.
</p>
<div class="org-src-container">
<pre class="src src-ipython" id="org66fbdee"><span style="color: #DFAF8F;">data</span> = []
<span style="color: #F0DFAF; font-weight: bold;">for</span> r <span style="color: #F0DFAF; font-weight: bold;">in</span> np.arange(1,4,0.001):
<span style="color: #DCDCCC; background-color: #4F4F4F;"> </span>   <span style="color: #DFAF8F;">logm</span> = LogisticMap(x0=0.5, r=r, n=1000)
<span style="color: #DCDCCC; background-color: #4F4F4F;"> </span>   <span style="color: #DFAF8F;">tmp</span> = pd.DataFrame([i <span style="color: #F0DFAF; font-weight: bold;">for</span> i <span style="color: #F0DFAF; font-weight: bold;">in</span> logm.generate()][100:], columns=[<span style="color: #CC9393;">'x'</span>])
<span style="color: #DCDCCC; background-color: #4F4F4F;"> </span>   <span style="color: #DFAF8F;">tmp</span>[<span style="color: #CC9393;">'r'</span>] = r
<span style="color: #DCDCCC; background-color: #4F4F4F;"> </span>   <span style="color: #5F7F5F;"># </span><span style="color: #7F9F7F;">tmp.drop_duplicates()</span>
<span style="color: #DCDCCC; background-color: #4F4F4F;"> </span>   data.append(tmp)

<span style="color: #DFAF8F;">data</span> = pd.concat(data)
</pre>
</div>

<p>
If we wish to plot the complete data-set we generated we need to plot <code>3604000</code> data points. This is a bit to much for the browser to handle comfortably. I therefore try the <a href="http://datashader.org/">datashader</a> extension of the <a href="http://holoviews.org/">holoview</a> package. A package specifically designed for big data visualization. It has a bokeh extension that I will use here.
</p>

<p>
Let's start by setting up basic stuff.
</p>
<div class="org-src-container">
<pre class="src src-ipython" id="org0d0b1f0"><span style="color: #F0DFAF; font-weight: bold;">import</span> holoviews <span style="color: #F0DFAF; font-weight: bold;">as</span> hv
<span style="color: #F0DFAF; font-weight: bold;">from</span> holoviews <span style="color: #F0DFAF; font-weight: bold;">import</span> opts
<span style="color: #F0DFAF; font-weight: bold;">import</span> datashader <span style="color: #F0DFAF; font-weight: bold;">as</span> ds
<span style="color: #F0DFAF; font-weight: bold;">from</span> holoviews.operation.datashader <span style="color: #F0DFAF; font-weight: bold;">import</span> datashade, shade, dynspread, rasterize
<span style="color: #F0DFAF; font-weight: bold;">from</span> holoviews.operation <span style="color: #F0DFAF; font-weight: bold;">import</span> decimate

hv.extension(<span style="color: #CC9393;">'bokeh'</span>)
<span style="color: #DFAF8F;">htmlfname</span> = <span style="color: #CC9393;">"html/logisticmap_bifurcation_diagram.html"</span>
<span style="color: #DFAF8F;">decimate.max_samples</span>=1000
<span style="color: #DFAF8F;">dynspread.max_px</span>=20
<span style="color: #DFAF8F;">dynspread.threshold</span>=0.5
</pre>
</div>

<div class="org-src-container">
<pre class="src src-ipython" id="org31d06a2"><span style="color: #DFAF8F;">points</span> = hv.Points(data, kdims=[<span style="color: #CC9393;">'r'</span>, <span style="color: #CC9393;">'x'</span>]).opts(width=600, height=400)
<span style="color: #DFAF8F;">bifurcation</span> = datashade(points, x_sampling=0.01, y_sampling=0.01)
hv.save(shade(bifurcation), htmlfname)
<span style="color: #F0DFAF; font-weight: bold;">print</span>(wrap_iframe(htmlfname, height=<span style="color: #CC9393;">'300px'</span>))
</pre>
</div>

<iframe src="/html/logisticmap_bifurcation_diagram.html" style="width:100%;height:300px;border:none;"></iframe>
<p>
unfortunately this looks awful and the documentation for datashader and holoview is not very intuitive. At least if i want to use the bokeh features and not as an extension of regular matplotlib. I was hoping that holoview would integrate a bit better with bokeh. I will continue and try my own down-sample of data point to be able to plot a somewhat nice figure.
</p>

<p>
We need to figure out roughly how many data points the browser could handle. I'm going to guess \(\sim 100000\). For each \(r\)-parameter value I'm going to down-sample to a specific number of maximum <code>bins</code> iterating over a specific number of \(r\)-values and try to keep the number of data points below the wished number.
</p>
<div class="org-src-container">
<pre class="src src-ipython" id="org8325780"><span style="color: #DFAF8F;">data</span> = []
<span style="color: #DFAF8F;">bins</span> = 500
<span style="color: #DFAF8F;">nr</span> = 400
<span style="color: #DFAF8F;">x</span> = 0.5
<span style="color: #DFAF8F;">roundto</span> = 4
<span style="color: #F0DFAF; font-weight: bold;">for</span> r <span style="color: #F0DFAF; font-weight: bold;">in</span> np.arange(2.4,4,1/nr):
<span style="color: #DCDCCC; background-color: #4F4F4F;"> </span>   <span style="color: #DFAF8F;">logm</span> = LogisticMap(x0=x, r=r, n=10000)
<span style="color: #DCDCCC; background-color: #4F4F4F;"> </span>   <span style="color: #DFAF8F;">dist</span> = np.histogram(np.<span style="color: #DCDCCC; font-weight: bold;">round</span>([i <span style="color: #F0DFAF; font-weight: bold;">for</span> i <span style="color: #F0DFAF; font-weight: bold;">in</span> logm.generate()][5000:], roundto), bins, density=<span style="color: #BFEBBF;">True</span>)
<span style="color: #DCDCCC; background-color: #4F4F4F;"> </span>   <span style="color: #DFAF8F;">density</span> = dist[0][dist[0] &gt; 0]
<span style="color: #DCDCCC; background-color: #4F4F4F;"> </span>   <span style="color: #DFAF8F;">density</span> = density/np.<span style="color: #DCDCCC; font-weight: bold;">max</span>(density)
<span style="color: #DCDCCC; background-color: #4F4F4F;"> </span>   <span style="color: #DFAF8F;">xvals</span> = dist[1]
<span style="color: #DCDCCC; background-color: #4F4F4F;"> </span>   <span style="color: #DFAF8F;">__</span> = (np.roll(xvals,-1) - xvals)/2
<span style="color: #DCDCCC; background-color: #4F4F4F;"> </span>   <span style="color: #DFAF8F;">xvals</span> = xvals[:-1] - __[:-1]
<span style="color: #DCDCCC; background-color: #4F4F4F;"> </span>   <span style="color: #DFAF8F;">xvals</span> = xvals[dist[0] &gt; 0]
<span style="color: #DCDCCC; background-color: #4F4F4F;"> </span>   <span style="color: #DFAF8F;">xvals</span>[xvals &lt; 0] = 0
<span style="color: #DCDCCC; background-color: #4F4F4F;"> </span>   <span style="color: #DFAF8F;">__</span> = pd.DataFrame([xvals, density]).T
<span style="color: #DCDCCC; background-color: #4F4F4F;"> </span>   <span style="color: #DFAF8F;">__.columns</span> = [<span style="color: #CC9393;">'x'</span>, <span style="color: #CC9393;">'density'</span>]
<span style="color: #DCDCCC; background-color: #4F4F4F;"> </span>   <span style="color: #DFAF8F;">__</span>[<span style="color: #CC9393;">'r'</span>] = r
<span style="color: #DCDCCC; background-color: #4F4F4F;"> </span>   data.append(__)

<span style="color: #DFAF8F;">data</span> = pd.concat(data)
</pre>
</div>
<p>
The nice thing about the above solution is that we can generate a wished number of "bins" and resolution. The resulting data-structure has a total of <code>72011</code> much less than we expect to be needed. One thing that I approximate here is the bin boarders of the <code>np.histogram</code> function. <del>I make the simplification that the lower boarder is the relevant one</del> I use <code>np.roll</code> to estimate the center of the bin boarders and have to make sure it's not negative, i.e. in the cases where the boarder is in the range \([-,0]\) when the density is exactly 0.
</p>

<div class="org-src-container">
<pre class="src src-ipython" id="org1bb042e"><span style="color: #DFAF8F;">htmlfname</span> = <span style="color: #CC9393;">"html/logisticmap_bifurcation_diagram_fine.html"</span>
bkp.output_file(htmlfname)
<span style="color: #DFAF8F;">fig</span> = bkp.figure(plot_width=600,
<span style="color: #DCDCCC; background-color: #4F4F4F;"> </span>   <span style="color: #DCDCCC; background-color: #4F4F4F;"> </span>   <span style="color: #DCDCCC; background-color: #4F4F4F;"> </span>   <span style="color: #DCDCCC; background-color: #4F4F4F;"> </span>   <span style="color: #DCDCCC; background-color: #4F4F4F;"> </span>plot_height=400,
<span style="color: #DCDCCC; background-color: #4F4F4F;"> </span>   <span style="color: #DCDCCC; background-color: #4F4F4F;"> </span>   <span style="color: #DCDCCC; background-color: #4F4F4F;"> </span>   <span style="color: #DCDCCC; background-color: #4F4F4F;"> </span>   <span style="color: #DCDCCC; background-color: #4F4F4F;"> </span>y_range=[0,1],
<span style="color: #DCDCCC; background-color: #4F4F4F;"> </span>   <span style="color: #DCDCCC; background-color: #4F4F4F;"> </span>   <span style="color: #DCDCCC; background-color: #4F4F4F;"> </span>   <span style="color: #DCDCCC; background-color: #4F4F4F;"> </span>   <span style="color: #DCDCCC; background-color: #4F4F4F;"> </span>x_range=[logm._LogisticMap__lower, logm._LogisticMap__upper],
<span style="color: #DCDCCC; background-color: #4F4F4F;"> </span>   <span style="color: #DCDCCC; background-color: #4F4F4F;"> </span>   <span style="color: #DCDCCC; background-color: #4F4F4F;"> </span>   <span style="color: #DCDCCC; background-color: #4F4F4F;"> </span>   <span style="color: #DCDCCC; background-color: #4F4F4F;"> </span>tools=<span style="color: #CC9393;">"wheel_zoom,reset,pan,save,box_zoom"</span>)

<span style="color: #DFAF8F;">colors</span> = linear_cmap(<span style="color: #CC9393;">'density'</span>, <span style="color: #CC9393;">'Plasma256'</span>, 1, 0)
<span style="color: #DFAF8F;">data</span>[<span style="color: #CC9393;">'alphas'</span>] = data[<span style="color: #CC9393;">'density'</span>] + 0.5
<span style="color: #DFAF8F;">cr</span> = fig.circle(x=<span style="color: #CC9393;">'r'</span>, y=<span style="color: #CC9393;">'x'</span>, source=data,
<span style="color: #DCDCCC; background-color: #4F4F4F;"> </span>   <span style="color: #DCDCCC; background-color: #4F4F4F;"> </span>   <span style="color: #DCDCCC; background-color: #4F4F4F;"> </span>   <span style="color: #DCDCCC; background-color: #4F4F4F;"> </span>   line_color=<span style="color: #BFEBBF;">None</span>,
<span style="color: #DCDCCC; background-color: #4F4F4F;"> </span>   <span style="color: #DCDCCC; background-color: #4F4F4F;"> </span>   <span style="color: #DCDCCC; background-color: #4F4F4F;"> </span>   <span style="color: #DCDCCC; background-color: #4F4F4F;"> </span>   fill_color=colors,
<span style="color: #DCDCCC; background-color: #4F4F4F;"> </span>   <span style="color: #DCDCCC; background-color: #4F4F4F;"> </span>   <span style="color: #DCDCCC; background-color: #4F4F4F;"> </span>   <span style="color: #DCDCCC; background-color: #4F4F4F;"> </span>   alpha=<span style="color: #CC9393;">'alphas'</span>,
<span style="color: #DCDCCC; background-color: #4F4F4F;"> </span>   <span style="color: #DCDCCC; background-color: #4F4F4F;"> </span>   <span style="color: #DCDCCC; background-color: #4F4F4F;"> </span>   <span style="color: #DCDCCC; background-color: #4F4F4F;"> </span>   size=1)

<span style="color: #DFAF8F;">fig.toolbar.logo</span> = <span style="color: #BFEBBF;">None</span>
<span style="color: #DFAF8F;">fig.toolbar.active_drag</span> = <span style="color: #BFEBBF;">None</span>
<span style="color: #DFAF8F;">fig.toolbar.autohide</span> = <span style="color: #BFEBBF;">True</span>
<span style="color: #DFAF8F;">fig.grid.minor_grid_line_dash</span> = [2, 2]
<span style="color: #DFAF8F;">fig.grid.minor_grid_line_color</span> = <span style="color: #CC9393;">'navy'</span>
<span style="color: #DFAF8F;">fig.grid.minor_grid_line_alpha</span> = 0.1
<span style="color: #DFAF8F;">fig.axis.minor_tick_in</span> = 0
<span style="color: #DFAF8F;">fig.axis.minor_tick_out</span> = 0

bkp.save(fig)
<span style="color: #F0DFAF; font-weight: bold;">print</span>(wrap_iframe(htmlfname, height=<span style="color: #CC9393;">'420px'</span>))
</pre>
</div>

<p>
This figure looks much better. The big difference between this and datashader is that the dots are not constrained to pixels. This means that I can get more of a smooth look but loose coverage as I zoom in. One trick that is needed when using <code>source=data</code> is that I predefine a new field in the dataframe for my alpha values instead of inputing the values in the circle command directly. Alphas are only defined in the range \([0,1]\) but it looks like any larger value is truncated so I set a lower limit of alpha to 0.5 and let the plot do the rest. This adds a bit of gradient to the colors used in the plot. The same goes for size if one wishes to play with that, even tough an upper limit is not an issue there.
</p>
<iframe src="/html/logisticmap_bifurcation_diagram_fine.html" style="width:100%;height:420px;border:none;"></iframe>
</div>
</div>

<div id="outline-container-org4c05987" class="outline-2">
<h2 id="org4c05987">Summary</h2>
<div class="outline-text-2" id="text-org4c05987">
<p>
I have tested bokeh's basic plotting features for visualizing the <a href="https://en.wikipedia.org/wiki/Logistic_map">logistic map</a>. Bokeh seem like a good alternative for interactive plots served over html. I'm not very versatile in js or css or working with servers but it seems that to be able to have more advanced features one needs to utilize the bokeh server feature. Something I will have to come back to in the future.
</p>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
</div>
</div>
